@import './utilities';

body{
    position: relative;
    background: url(../image/data-mobile.svg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: $font_a;
    &.dark{
        background: url(../image/darkmode-mobile.svg);
        background-color: black;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .body{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: .6rem;
        overflow: hidden;

       header{
        // position: relative;
        &::before{
            position: absolute;
            left: 100%;
            top: 0;
            content: '';
            width: 100vw;
            height: 100vh;
            background: rgba(0, 0, 0, 0.814);

        }
        &.active::before{
            left: 0;
        }
        .toggle{
            content: url(../image/icon-hambuger.svg);
            z-index: 99;
           &.active{
                content: url(../image/icon-active-hamburger-dark.svg);
           } 
           @at-root{
            body.dark  .body header .toggle.active{
                content: url(../image/icon-active-hamburger-light.svg);
            }
           }
        }
       }

       .nav_bar {
        position: absolute;
        top: 0;
        right: -100%;
        height: 100vh;
        width: 75%;
        // max-width: 255px;
        background-color: #d9d9d9;
        transition: all .5s;
        @at-root{
            body.dark .nav_bar{
                background-color: #313131;
            }
        }

        &.active{
            right: 0;
        }
        @media (min-width: 989px) {
          position: relative;
        }
          ul{
             display: flex;
             flex-direction: column;
             text-align: center;
             gap: 2em;
             font-size: 24px;
             font-family: $font_a;
             font-weight: 700;
             color: #8f8f8f;
             @at-root{
                body.dark ul :is(li, a, button){
                    color: #fff;
                }
             }
             li, button{
                display: flex;
                justify-content: center; 
                align-items: center;
                gap: .6em;
                span{
                    position: relative;
                    height: 20px;
                    width: 33px;
                    border-radius: 10px;
                    background: #92a391;
                    transition: all 0.7s;
                   
                    &::before{
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        left: 5%;
                        content: '';
                        width: 14px;
                        height: 14px;
                        background: #d9d9d9;
                        border-radius: 50px;
                    }
                    
                 }
                 &.active{                  
                    span{
                        background: rgb(38, 159, 84);
                       &::before{
                        left: 55%;
                        background: #313131;
                       }
                    }
                }
                 
             }
             .dropdown{
                display: flex;
                flex-direction: column;
                gap: inherit;
             }
              #more{
                  display: none;
      
                  @media (min-width: 989px) {
                      display: block;
                  }
              }
          }
      }
    }

    .form{

        width: 100%;
        max-width: 320px;
        background-color: #fff;
        margin-bottom: 3em;
        padding-block: 3em;
        padding-inline: 1.5em;
        padding-bottom: 1.5em;
        border-radius: 10px;
        box-shadow: 1px 3px 7px 5px rgba(1, 22, 2, 0.2);
        @at-root{
            body.dark .form{
                background-color: #181414;
            }
        }
        h4{
            text-align: center;
            font-size: 28px;
            font-family: $font_b;
            font-weight: 200;
            @at-root{
                body.dark h4{
                    color: #fff;
                }
            }
        }

        input:not(input[type="submit"]){
            padding: 1em;
            padding-block: 1.5em;
            margin-block: .1em;
            border-radius: 1rem;
            border: 2px solid hsl(115, 20%, 75%);
            color: black;
            outline: none;
            background: none;
            @at-root{
                body.dark input:not(input[type="submit"]){
                    color: #fff;
                }
            }
           
            ::placeholder{
                color: colors(form);
            }
        }
        select{
            padding: 1em;
            padding-block: 1.5em;
            margin-bottom: 2em;
            border-radius: 1rem;
            border: 2px solid hsl(115, 20%, 75%);
            color: colors(form);
            background: none;
        }

        input[type="submit"]{
            padding: .8em 1.6em;
            margin-block-end: 1em;
            margin-top: .5em;
            width: max-content;
            align-self: center;
            border-radius: 15px;
            background-color: colors(mod-black);
            color: #fff;
            box-shadow: 0px 3px 5px 4px #c1d0c1;
            font-family: $font_a;
            font-size: 1.125rem;
            font-weight: 600;
            @at-root{
                body.dark input[type="submit"]{
                    box-shadow: 0px 3px 5px 2px rgba(13, 16, 13, 0.5%);
                    background: #3e6245;
                }
            }
        }
    }
    footer{
        display: flex;
        flex-direction: column;

        div{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-start; 
            background-color: rgb(32, 92, 32);
            padding-block: 1em;
            padding-bottom: 2em;
            // align-self: baseline;
            p{
                display: flex;
                justify-content: center;
                text-align: center;
                color: colors(soft-white);
                font-family: $font_a;
                font-size: 12px;
               
            }
        }
    }
}


